@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Raleway:wght@500&display=swap');

.divHeader {
    max-width: 1240px;
    margin: auto;
}

.navHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.titleNav {
    height: 48px;
    color: #FF6060;
    padding: 0;
}

.divNav {
    display: flex;
    gap: 57px;
}

.home {
    font-family: Montserrat;
    color: #FF6060;
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    border-bottom: 3px solid #fff;
}

.home:hover {
    border-bottom: 3px solid #FF6060;
    cursor: pointer;
}

.about {
    font-family: Montserrat;
    color: #FF6060;
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    border-bottom: 3px solid #fff;
}

.about:hover {
    border-bottom: 3px solid #FF6060;
    cursor: pointer;
}